# =============== #
# Unity generated #
# =============== #
DucQuang_IB-Fight-Scene/Temp/
DucQuang_IB-Fight-Scene/Library/
DucQuang_IB-Fight-Scene/ExportedObj/
DucQuang_IB-Fight-Scene/obj/
DucQuang_IB-Fight-Scene/.vs/
DucQuang_IB-Fight-Scene/Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
DucQuang_IB-Fight-Scene/*.csproj
DucQuang_IB-Fight-Scene/*.sln
DucQuang_IB-Fight-Scene/.settings/settings.json
DucQuang_IB-Fight-Scene/Assets/UnityVS.meta
DucQuang_IB-Fight-Scene/Assets/UnityVS/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.vs/*
